{% comment %}Reusable modal component{% endcomment %}
<div class="modal fade" id="{{ id }}" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog {{ dialog_class|default:'' }}">
        <div class="modal-content">
            <div class="modal-header {{ header_class|default:'' }}">
                <h5 class="modal-title">{{ title }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">{{ body|safe }}</div>
            <div class="modal-footer">{{ footer|safe }}</div>
        </div>
    </div>
</div>
